{extend name='public/base'}
{block name='content'}
    <form class="form-horizontal col-lg-7" role="form" id="myForm" method="post" enctype="multipart/form-data">

        <div class="form-group" style="margin-top: 20px">
            <label for="title" class="col-sm-2 control-label">文章标题：</label>
            <div class="col-sm-10">
                <input type="text" required id="title" name="title" placeholder="请输入文章标题">
            </div>
        </div>
        <div class="form-group">
            <label for="file1" class="col-sm-2 control-label">选择文件 ：</label>
            <div class="col-sm-10">
                <input  name="myfile" type="file" id="file1" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="file1" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <button class="btn btn-success text-left" type="button" id="upload">上传</button>
            </div>
        </div>
    </form>
<script>
    $(function () {
        $("#upload").click(function () {
            /*ajax请求表单上传*/
            $.ajax({
                url: "/index/index/file_upload",
                type: 'POST',
                cache: false,
                data: new FormData($('#myForm')[0]),
                processData: false,
                contentType: false,
                success: function (data) {
                    console.log(data);
                    if(data.code == 1){
                        layer.msg(data.msg,{time:3000,icon:6});
                        setTimeout(parent.layer.closeAll(),3000);
                    }else{
                        layer.msg(data.msg,{time:3000,icon:5});
                    }
                },
                error: function () {
                    layer.msg("文件上传失败",{time:3000,icon:5});
                }
            });
        });
    });
</script>
{/block}