{extend name='public/base'}
{block name='content'}
<h2 class="text-center">文章管理列表</h2>
<div class="text-center">
    <table class="PolicyTable">
        <thead>
        <tr>
            <th>姓名</th>
            <th>性别</th>
            <th>家庭人数</th>
            <th>享受政策</th>
            <th>脱贫状态</th>
            <th>操作</th>
        </tr>
        </thead>

        <tr class="poor_list">
            <td>werty</td>
            <td>
                ghgf
            </td>
            <td>df</td>
            <td>
                发展生产{/</td>
            <td>='</td>
            <td onclick="family_info('_id')">查看详情</td>
        </tr>

    </table>
</div>
{/block}