{extend name='public/base'}
{block name='content'}
<h2 class="text-center">文章管理列表</h2>
<div class="text-center">
    <table class="PolicyTable">
        <thead>
        <tr>
            <th>序号</th>
            <th>原文件名</th>
            <th>文章标题</th>
            <th>上传时间</th>
            <th>操作</th>
        </tr>
        </thead>
        {volist name='data' id='va' key ='i'}
        <tr class="poor_list">
            <td>{$i}</td>
            <td>{$va.filename}</td>
            <td>{$va.title}</td>
            <td>{$va.upload_time|date='Y-m-d H:s',###}</td>
            <td>
                <button class="edit_content" type="button" name="{$va.id}">编辑</button>
                <button class="delete_content" type="button" name="{$va.id}">删除</button>
            </td>
        </tr>
        {/volist}
    </table>
</div>
<script>
    $(function () {
        /*修改文章*/
        $(".edit_content").click(function () {
            var id = $(this).attr('name');
            alert(id)
        });
        /*删除文章*/
        $(".delete_content").click(function () {
            var id = $(this).attr('name');
            alert(id)
        });
    });
</script>
{/block}