<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="__PUBLIC__/static/css/upload.css">
<script src="__PUBLIC__/static/js/jquery.js"></script>
<script src="__PUBLIC__/static/js/jquery.validate.min.js"></script>
<!--<script src="__PUBLIC__/static/js/jquery.form.js"></script>-->
<script src="__PUBLIC__/bootstrap/js/bootstrap.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>

<body>
{block name='content'} {/block}
</body>
</html>